{% extends "base.html" %}

{% block page_content %}
<div class="content">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Text</th>
        <th scope="col">Deadline</th>
        <th scope="col">Progress</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
        <tr>
          <td>{{ task.text }}</td>
          <td>{{ task.deadline }}</td>
          <td>
            <div class="progress">
              <div class="progress-bar progress-bar-striped"
                  role="progressbar"
                  style="width: {{ task.progress }}%"
                  aria-valuenow="{{ task.progress }}"
                  aria-valuemin="0"
                  aria-valuemax="100">{{ task.progress }}%</div>
            </div>
          </td>
          <td>
            <form style = "display:inline;" action="{% url 'edit_task' id=task.id %}" method="get">{% csrf_token %}<button type="submit" style="border: none; background-color: white"><i class="far fa-edit"></i></button></form>
            <form style = "display:inline;" action="{% url 'delete_task' id=task.id %}" method="post">{% csrf_token %}<button type="submit" style="border: none; background-color: white"><i class="far fa-trash-alt"></i></button></form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
