<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
  <link rel="stylesheet" href="style.css" type="text/css">
  <title>TODO-List</title>
</head>
<body>
  <div class="container">
    <nav class="nav">
      <a class="nav-link active" href="index.html">Home</a>
      <a class="nav-link" href="add.html">Add TODO</a>
      <a class="nav-link" href="howto.html">How to edit a TODO</a>
      <a class="nav-link" href="impressum.html" tabindex="-1">Impressum</a>
    </nav>
    <div class="container">
      <div class="content">
        <p>
          In order to edit a todo entry, you just have to click the edit button on the Home page
          of this app.
        </p>
      </div>
    </div>
  </div>
</body>
</html>